<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        text-align: center;
      }
      img {
        max-width: 60%;
      }
    </style>
  </head>
  <body>
    <h1 id="txt">onload</h1>
    <img src="./screenshot.png" alt="屏幕截图" />
    <script>
      window.onload = () => {
        const h1 = document.getElementById("txt");
        h1.innerHTML = `HELLO ${Date.now()}`;
      };
    </script>
  </body>
</html>
